/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Battlegammon implementation : © <wildjcrt> <wildjcrt@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * battlegammon.css
 *
 * Battlegammon stylesheet
 *
 */

/*
  This is the CSS stylesheet of your game User Interface.

  Styles defined on this file will be applied to the HTML elements you define in your
  HTML template (battlegammon_battlegammon.tpl), and to HTML elements you create dynamically
  (in battlegammon.js).

  Usually, you are using CSS to:

  1°) define the overall layout of your game
  (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

  2°) create your CSS-sprites:
  All images of your games should be gathered into a small number of image files. Then, using
  background-image and background-position CSS properties, you create HTML blocks that can
  display these images correctly (see example below).

  3°) ... anything else:
  It is really easy to add and remove CSS classes dynamically from your Javascript with
  dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
  (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
  very often, using CSS classes for the logic of your user interface allow you to do complex
  thing easily.


  Note: on the production platform, this file will be compressed and comments will be removed.
  Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
  Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

  .white_token {
    background-image: url('img/tokens.png');
    background-position: 0px 0px;
  }
  .black_token {
    background-image: url('img/tokens.png');
    background-position: -20px 0px;
  }
  .token {
    width: 20px;
    height: 20px;
    background-repeat: none;
  }
*/

#bg_board {
  background-image: url( 'img/battlegammon_bg.jpeg');
  background-repeat: no-repeat;
  height: 500px;
}

#bg_board, #dice_area {
  width: 900px;
}

/* dices */
#dice_area {
  height: 50px;
}

.dice {
  height: 40px;
  width: 40px;
  padding: 2px;
  float: left;
}

#dice_1 {
  background-image : url('img/sprite_dice1.png');
  background-repeat : no-repeat;
}

#dice_2 {
  background-image : url('img/sprite_dice2.png');
  background-repeat : no-repeat;
}

.dice_1_0 {
  visibility: hidden;
}

.dice_1_1 {
  background-position : 2px -4px;
}

.dice_1_2 {
  background-position : 2px -50px;
}

.dice_1_3 {
  background-position : 2px -98px;
}

.dice_1_4 {
  background-position : 2px -145px;
}

.dice_1_5 {
  background-position : 2px -192px;
}

.dice_1_6 {
  background-position : 2px -240px;
}

.dice_2_0 {
  visibility: hidden;
}

.dice_2_1 {
  background-position : 1px -5px;
}

.dice_2_2 {
  background-position : 1px -57px;
}

.dice_2_3 {
  background-position : 1px -110px;
}

.dice_2_4 {
  background-position : 1px -164px;
}

.dice_2_5 {
  background-position : 1px -215px;
}

.dice_2_6 {
  background-position : 1px -266px;
}

.dice_usable_0 {
  opacity: 0.2;
}

.lighton_dice {
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  background-color: #DDDDDD;
}

/* dices end */

.steps {
  position: absolute;
  border: 5px solid red;
  cursor: pointer;
}

.hint-square {
  width: 203px;
  height: 127px;
}

.hint-circle {
  border-radius: 70px;
  width: 70px;
  height: 70px;
}
